.header {
    background: url('../imgs/header-2.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10rem;
    padding-bottom: 1rem;
    overflow-x: hidden;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        z-index: 0;

    }

    .container {
        z-index: 1;
    }

    &-title {
        span {
            display: block;
            font-size: 2.1rem;
            color: var(--primary);
            font-weight: 300;
        }

        font-size: 2.4rem;
        color: var(--white);
    }

    &-brief {
        font-size: 1.1rem;
        color: var(--white);
    }

    &-register {
        @media only screen and (max-width: 567px) {
            width: 100% !important;
        }
    }

    &-features {
        margin-top: 8rem;

        .feature {
            background: rgba(255, 255, 255, 0.24);
            border-radius: 8px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12.6px);
            -webkit-backdrop-filter: blur(12.6px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            padding: 2rem 1rem;
            transition: .2s all ease-in;

            &:hover {
                background-color: rgba(94, 169, 233, 0.6);
            }

            &-title {
                font-size: 1.6rem;
                color: var(--white);
            }

            &-description {
                font-size: 1rem;
                color: var(--white);
            }

        }

        @media only screen and (max-width: 767px) {
            margin-top: 2rem;

            .feature {
                margin-top: 1rem;
            }
        }
    }

    &-swipe-down {
        cursor: pointer;
        user-select: none;

        h6 {
            color: var(--white);
            font-size: 1.2rem;
        }

        img {
            width: 32px;
        }
    }

    &-social-links {
        background: rgba(255, 255, 255, 0.24);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.8px);
        -webkit-backdrop-filter: blur(11.8px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        top: 20%;
        left: -10px;
        margin: 0;
        gap: 1rem;
        z-index: 1;

        @media only screen and (max-width: 991px) {
            display: none !important;
        }

        li {
            a {
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;

                &.switch-language {
                    width: 48px;
                    height: 48px;
                    background: var(--primary);
                    color: var(--white);
                }

                svg {
                    width: 48px;
                    height: 48px;
                    fill: var(--white);

                    path {
                        fill: var(--white);
                    }

                    &:hover {
                        fill: var(--primary);

                        path {
                            fill: var(--primary);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 567px) {
        padding-top: 4rem;
    }
}

section.events {
    background: url('../imgs/events-bg-2.jpg') center no-repeat;
    background-attachment: fixed;
    padding: 8rem 0;
    background-size: cover;

    .card {
        border: none;
        margin-top: 2rem;
        border-bottom: 8px solid var(--primary);

        .card-head {
            .card-event-date {
                left: 12.5%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                .day {
                    font-size: 32px;
                    color: var(--dark-grey);
                }

                .month-name {
                    font-size: 16px;
                    color: var(--dark-grey);
                    font-weight: 500;
                }

                .year {
                    font-size: 14px;
                    color: var(--grey);
                }
            }
        }
    }

    .row>div:first-child .card {
        border-top-right-radius: 20px;

        .card-head {
            img {
                border-top-right-radius: 20px;
            }
        }
    }

    .row>div:last-child .card {
        border-bottom-left-radius: 20px;

        .card-body {
            border-bottom-left-radius: 20px;
        }
    }

    .all-events {

        a {
            min-width: 300px;
        }
    }
}

.board-members {
    background: url('../imgs/board-members-bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 10rem;

    .section-title {
        margin-top: 4rem;
    }

    &-slider {
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .glide__arrows {
        .glide__arrow {
            border: none;
            box-shadow: none;

            @media only screen and (max-width: 567px) {
                position: static;

            }

            img {
                max-width: 60px;
                border-radius: 23px;
                transition: .2s all ease-in;

                &:hover {
                    background: var(--primary);
                    border: 2px solid #fff;
                }
            }
        }

        @media only screen and (max-width: 567px) {
            position: absolute;
            top: 110%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3rem;
        }
    }
}

.media {
    background: #f7f7f7;

    .media-news {
        direction: ltr;

        .glide__slides {
            display: flex;
        }

        .report {
            position: relative;

            user-select: none;

            &-photo {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
                    transition: .2s all ease-in;
                }

                img {
                    border-radius: 8px;
                }
            }

            &-content {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                padding: 32px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                opacity: 0;
                transition: .2s all ease-in;

                h1,
                p {
                    color: var(--white);
                }

                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1rem;
                    opacity: 0.8;
                    white-space: normal;
                    text-align: right;
                }

            }
        }

        .glide-slide {
            overflow: hidden;
            height: 50vh;
            margin: 2vh auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s ease-in-out;

            @media only screen and (max-width: 991px) {
                height: auto;
                margin: 1rem auto;
            }
        }

        .glide__slide--active {
            transform: scale(1.175);
            transition: all .1s ease;
            z-index: 1;

            @media only screen and (max-width: 567px) {
                transform: scale(1);
            }

            .report {
                &-photo {
                    &:before {
                        height: 100%;
                    }
                }

                &-content {
                    opacity: 1;
                }
            }
        }

        .glide__arrows {

            .glide__arrow {
                border: none;
                box-shadow: none;
                width: 50px;
                height: 50px;
                border: 2px solid #222;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;



                &.glide__arrow--left {
                    left: 10em;

                    @media only screen and (max-width: 1199px) {
                        left: 0;
                    }

                    @media only screen and (max-width: 567px) {
                        position: static;
                        background: var(--white);
                        width: 55px;
                        height: 55px;
                    }
                }

                &.glide__arrow--right {
                    right: 10em;

                    @media only screen and (max-width: 1199px) {
                        right: 0;
                    }

                    @media only screen and (max-width: 567px) {
                        position: static;
                        background: var(--white);
                        width: 55px;
                        height: 55px;
                    }
                }

                svg {
                    max-width: 60px;
                    border-radius: 23px;
                    stroke: #222;
                }

                &:hover {
                    background: var(--white-brown);
                    border: none;

                    svg {
                        stroke: var(--white);
                    }
                }
            }

            @media only screen and (max-width: 567px) {
                position: absolute;
                top: 93%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 3rem;
            }
        }

        .glide__bullets {
            bottom: -2rem;

            .glide__bullet {
                border-radius: 10px;
                width: 25px;
                height: 4px;
                background: var(--grey);

                &.glide__bullet--active,
                &:hover,
                &:focus {
                    background: var(--dark-primary);
                    border: none;
                }

            }
        }
    }

    &-quote {
        @media only screen and (max-width: 567px) {
            width: 100% !important;
        }
    }
}



.members {
    padding-bottom: 8rem;

    .section-title {
        margin-top: 4rem;
    }

    &-slider {
        margin-top: 6rem;

        @media only screen and (max-width: 567px) {
            margin-top: 1rem;
        }
    }

    .glide__arrows {
        .glide__arrow {
            border: none;
            box-shadow: none;

            @media only screen and (max-width: 567px) {
                position: static;
            }

            img {
                max-width: 60px;
                border-radius: 23px;
                transition: .2s all ease-in;

                &:hover {
                    background: var(--primary);
                    border: 2px solid #fff;
                }
            }
        }

        @media only screen and (max-width: 567px) {
            position: absolute;
            top: 125%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 3rem;
        }
    }
}