@import "./typography/fonts";

:root {
    --primary: #5ea9e9;
    --dark-primary: #0d2955;
    --white: #fff;
    --grey: #CCC;
    --dark-grey: #333333;
    --white-brown: #E8CD9C;
}

* {
    font-family: 'Cairo';
    font-weight: 300;
}

.section-title {
    h2 {
        color: var(--primary);
        font-weight: bold;
    }

    h1 {
        color: var(--dark-primary);
        font-weight: 300;

        b {
            font-weight: bold;
        }
    }
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border: none;

    &:hover {
        background: var(--dark-primary);
    }
}

.btn-primary-dark {
    background-color: var(--dark-primary);
    color: var(--white);
    border: none;

    &:hover {
        background: var(--primary);
        color: var(--white);
    }
}

.btn-outline-primary {
    color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        background: var(--primary);
    }
}

input,
select {
    height: 45px;
}

.navbar {
    transition: .2s all ease-in-out;

    &.bg-dark-primary {
        background: var(--dark-primary);
    }

    &-brand {
        img {
            max-width: 320px;
            width: 100%;

            @media only screen and (max-width: 1601px) {
                max-width: 300px;
            }

            @media only screen and (max-width: 1199px) {
                max-width: 250px;
            }
        }
    }

    &-collapse {
        @media only screen and (max-width: 991px) {
            margin: 0rem 1rem 1rem 1rem !important;
        }
    }

    &-nav {
        .nav-item {
            .nav-link {
                color: var(--white) !important;
                position: relative;
                font-size: 1.15rem;

                @media only screen and (max-width: 1601px) {
                    font-size: 1rem;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    right: 50%;
                    width: 0;
                    height: 3px;
                    background: var(--primary);
                    transition: .2s all ease-in-out;
                }

                &:hover,
                &.active {
                    &:after {
                        width: 100%;
                        right: 0;
                    }
                }
            }

            @media only screen and (max-width: 991px) {
                margin-bottom: 2rem;

                .nav-link {
                    display: inline;
                    padding: 0;
                }
            }
        }


    }

    .nav-social-links {
        display: none;
        margin: 0;
        gap: 1rem;
        margin-top: 2rem;
        border-top: 1px solid #f1f1f1;

        @media only screen and (max-width: 991px) {
            display: flex;
            justify-content: center;

        }

        li {
            a {
                text-decoration: none;
                font-weight: bold;
                cursor: pointer;

                &.switch-language {
                    width: 48px;
                    height: 48px;
                    background: var(--primary);
                    color: var(--white);
                }

                svg {
                    width: 48px;
                    height: 48px;
                    fill: var(--white);

                    path {
                        fill: var(--white);
                    }

                    &:hover {
                        fill: var(--primary);

                        path {
                            fill: var(--primary);
                        }
                    }
                }
            }
        }
    }

}

.footer {
    padding: 5rem 0;
    background: url('../imgs/footer-bg.png') center no-repeat;
    background-size: cover;

    form {
        padding: 4rem;
        background: var(--white);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;

        @media only screen and (max-width: 567px) {
            padding: 2rem;
        }

        textarea {
            min-height: 160px;
        }
    }

    .contact-list {
        li {
            a {

                .contact-icon {
                    width: 45px;
                    height: 45px;
                    background: var(--white);
                    border-radius: 50%;

                    &:hover {
                        background: var(--white-brown);
                    }
                }

                img {
                    max-width: 24px;
                }
            }
        }
    }
}