@font-face {
    font-family: "Cairo";
    src: url("../fonts/static/Cairo-Light.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Cairo";
    src: url("../fonts/static/Cairo-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Cairo";
    src: url("../fonts/static/Cairo-Medium.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Cairo";
    src: url("../fonts/static/Cairo-Bold.ttf") format("truetype");
    font-weight: 500;
}